<!DOCTYPE html>
<html>
<head>
    <title>{{title}} </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheets" type= "text/css" href="/static/styles/main.css">
      <style> 
body{
background-color: rgb(132, 251, 255);
}
#footer{
  background-color: rgb(146, 146, 197);
}
      </style>
    </head>
<body>
        
        <div class="container">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="./">Home</a></li>
                  <li ><a  href="./blog">Posts</a>
                  </li>
                  <li><a href="./newpost">Newpost</a></li>                  
                  <li><a href="./ajax">Address search</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="./register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  <li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                </ul>
              </div>
            </nav>
          </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category,message in messages %}
        <li class="{{ category }} alert-danger"> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endwith %}
<div class="container">

    {%  block content%}

    {% endblock %}
  </div>
  <footer id="footer" class="container text-center">
    <h1>@Created by Mohamed M Under Launch code Unit 2</h1>
  </footer>
</body>
</html>