{% extends "base.html" %}

{% block content %}
<a href="./blog" style="display:inline-block; margin-right: 20px;"><h3>All posts </h3></a> 
<a href="./" style="display:inline-block; margin-right: 20px;">  <h3>All Users</h3></a> 
 <a href="./newpost" style="display:inline-block;">  <h3>Add a blog entry</h3></a> 

  <a href="./login" style="display:inline-block; text-align:left; margin-left: 120px;">Log in</a>

  <a href="./logout" style="display:inline-block; text-align:left; margin-left: 20px;">Log Out</a>

<h1 style="text-align:center; color:black;"><strong> Blogz</strong></h1>
<h2>All posts</h2>
   {% for post in posts %}
  <a href="/viewpost?post_id={{ post.id }}" ><h2><strong>{{ post.title }}</strong></h2></a>
   {{ post.body }}
   {{post.ownerid}}
   <h6>Written by <a href="./singleUser?user={{ post.author }}">{{post.author}}</a></h6>   
   <hr />
   {% endfor %}
 {% endblock %}