{% extends "base.html" %}
{%  block content%}

<a href="./blog" style="display:inline-block; margin-right: 20px;"><h3>Main blog page </h3> 
</a> <a href="./newpost" style="display:inline-block;">  <h3>Add a blog entry</h3></a> 

<h1 style="text-align:center; color:black;"><strong>  Add a blog entry</strong></h1>

<form action="/newpost" method="POST">
   <div> 
       <label>
        Title for your new blog:
        <br>
        <input type="text" name='title' value='{{ title }}'/>
        <br>
        <span class="error">{{title_error}}</span>
    </label>
</div>
    <div>
    <label>
        Your new blog:
        <br>
        <textarea rows="15" cols="50" name="body">{{ body }}</textarea>
        <br>
        <span class="error">{{body_error}}</span>
        </label>
    </div>
    <div>
    <input type="submit" value="Add entry" />
</div>
</form>

    {% endblock %}