{% extends "base.html" %}


{% block content %}
<div class="container" id="register">
    <h2>Register to Blogz</h2>
    <form action="/register"  method="POST">
        <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter username" name="user">
        <span class="alert-danger">{{user_error}}</span></td>

      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" value="{{password}}">
        <span class="alert-danger">{{password_error}}</span></td>
      </div>

      <div class="form-group">
        <label for="verify">Verify Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Verify password" name="verify" value="{{verify}}">
        <span class="alert-danger">{{verify_error}}</span></td>            
      </div>
      <div>
      <button type="submit" class="btn btn-default">Register</button>
    </div>
    </form>
  </div>
  
{% endblock %}